*.log	
coverage	
build
**/build
spa/build
node_modules
stats.json	
package-lock.json	
**/generated.*
spa/server/middlewares/generated.assets.json
spa/server/middlewares/generated.serverEntry.js
**/generated.assets.json
**/generated.serverEntry.js


.DS_Store	
npm-debug.log	
.idea	
db

*.log	
**/wp-config.php	
**/wp-config.php	
**/wp-content/advanced-cache.php	
**/wp-content/backup-db/	
**/wp-content/backups/	
**/wp-content/blogs.dir/	
**/wp-content/cache/	
**/wp-content/upgrade/	
**/wp-content/uploads/	
**/wp-content/wp-cache-config.php	
**/wp-content/w3tc-config/	
**/wp-content/plugins/hello.php	
**/wp-content/db.php	
**/wp-content/object-cache.php	

**/.htaccess	
**/license.txt	
**/readme.html	
**/sitemap.xml	
**/sitemap.xml.gz

**/.DS_Store
*.DS_Store
.DS_Store